{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
<div class="body-security">
{% include 'partials/flash.html.twig' %}
    <div class="login-container">
        <form method="post" class="login-form">
                <h1 class='mb-4'>Oubli de votre mot de passe?</h1>

                <div class="mb-4 input-group">
                    <label class="mb-4" for="email">Indiquez votre adresse email</label>
                    <input type="email" name="email" id="email" class="form-control" required autofocus>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('forgot_password') }}">

                <button type="submit">Envoyer le lien de réinitialisation</button>
            </form>
    </div>
</div>
{% endblock %}