{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="body-security">
    {% include 'partials/flash.html.twig' %}
        <div class="login-container">
            <form method="post" class="login-form">
                <h1>Réinitialisez votre mot de passe</h1>

                <div class="input-group">
                    <label for="password">Nouveau mot de passe</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset_password') }}">

                <button type="submit">Réinitialiser</button>
            </form>
        </div>
    </div>
{% endblock %}