{% extends 'base.html.twig' %}

{% block title %}Secrétaire{% endblock %}

{% block body %}
{% include 'partials/flash.html.twig' %}
    {% include 'partials/Page/_navBar.html.twig' %}
    <main class="d-flex min-vh-100">
        {% include 'partials/flash.html.twig' %}
        <div class="d-flex flex-fill flex-column justify-content-between fade-in">
            <div class="d-flex flex-column flex-fill">
                <div class='d-flex flex-column flex-fill'>
                    {% if subfragmentTemplate is defined %}
                        {% include subfragmentTemplate %} 
                    {% endif %}
                </div>
            </div>
        </div>

    </main>
    {% include 'partials/Page/footer.html.twig' %}
{% endblock %}
