<!-- Main Content -->
{% include 'partials/user/models/devisModel.html.twig' %}
<div class="flex-grow-1 p-4 d-flex flex-column">
    <div class="container">
    <!-- Informations Personnelles -->
        <h5>Devis </h5>
        <div class="card-body">
        {% if devis is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Statut</th>
                        <th>Détails</th>
                        {# <th>Active</th> #}
                        <th>Montant</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   {% for devi in devis %}
                        {% include 'partials/user/models/searchFactureModel.html.twig' with {
                            'formViews': formViews,
                            'fragment': fragment,
                            'devis': devi 
                        } only %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <!-- Aucun document -->
            <div class="text-center">
                <div style="position: relative; display: inline-block;">
                    <i class="fas fa-file-alt fa-5x text-center m-5"></i>
                    <div style="position: absolute; 
                            top: 0; left: 0; 
                            right: 0; bottom: 0; 
                            background-color: rgba(255, 255, 255, 0.7); 
                            z-index: 1;">
                    </div>
                </div>
                <h1 style="color: grey;">Aucun Devis</h1>
                <p class="text-muted">À cet endroit, vous pourrez consulter vos devis.</p>
            </div>
        {% endif %}
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#devisModal">Créer un Devis</button>
            </div>
        </div>
    </div>
</div>
  
  <!-- Modal pour créer le facture-->
{% include 'partials/user/EspacePersonnel/FactureDevis/_devisModalCreate.html.twig' %}

<!-- Modal pour afficher les informations de la facture -->
{% include 'partials/user/EspacePersonnel/FactureDevis/_devisModalInfos.html.twig' %}

<script>
     document.addEventListener('DOMContentLoaded', function() {
        {% if ligneDevis is not empty %}
            const modal = new bootstrap.Modal(document.getElementById('devisDetailsModal'));
            modal.show();
        {% endif %}
    });
</script>