<header class="shadow-md p-3" style="background-color: rgb(39,64,1);">
    <a class="text-center navbar-brand text-white" href="{{ path('app_logout') }}">
        <h4 class="mt-4">Vers le site</h4>
    </a>
    <nav class="navbar navbar-expand-lg m-0 justify-content-center flex-column bg-transparent-tertiary">

            <button class="navbar-toggler bg-body-tertiary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse gap-3 flex-column" id="navbarNav">
                <ul class="navbar-nav align-items-center mt-3 me-auto mb-2 mb-lg-0">
                    <!-- Menu principal -->
                    {% include 'userPage/_headerMenu.html.twig' %}
                </ul>
                {# <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Recherche" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit" >Recherche</button>
                </form> #}
            </div>

    </nav>
</header>
